@model br.com.sagradacruz.Areas.Admin.Models.User
@{
    ViewData["Title"] = "Manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h3 style="border-left: solid 3px #0094ff">
        &nbsp; Editar Usuário
    </h3>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <form id="formEditUser">
                <input type="hidden" id="txtId" class="form-control" placeholder="Id" value="@Model.Id" /><br />
                <input type="text" id="txtName" class="form-control" placeholder="Nome" value="@Model.Name" /><br />
                <input type="text" id="txtUser" class="form-control" placeholder="Usuário" value="@Model.Username" /><br />
                <input type="text" id="txtPassword" class="form-control" placeholder="Senha" value="@Model.Password" /><br />
                <input type="email" id="txtEmail" class="form-control" placeholder="Email" value="@Model.Email" /><br />
                <textarea type="text" id="txtTip" class="form-control" placeholder="Dica de senha" vocab="@Model.Tip"></textarea><br />

                <a id="btnCancel" href="/Admin/User/List" class="btn btn-primary">Cancelar</a>
                <button class="btn btn-success" type="submit">Salvar</button>
                <button class="btn btn-danger" type="button" id="btnDelete" onclick="jsDeleteUser(@Model.Id)">Excluir</button>
            </form>            
        </div>
    </div>
</div>
